.login_form {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div[data-elm-type = "input"] {
        margin-top: 10px;
    }
    button[type = "submit"] {
        margin-top: 16px;
    }
    span[data-elm-type = "tag_info"] {
        color: var(--blue-accent-color);
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        padding: 10px;
    }
    span[data-elm-type = "tag_error"] {
        color: crimson;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        padding: 10px;
    }
}