.input_div_wrapper {
    display: flex;
    height: 50px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    border: var(--default-border);
    border-radius: 6px;
    padding: 0px 0px 0px 4px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    input {
        height: 100%;
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        border-radius: 6px;
        letter-spacing: 0.4px;
        caret-color: var(--blue-accent-color);
    }
    span[data-elm-type = "input-icon"] {
        display: flex;
        height: 100%;
        width: 40px;
        min-width: 40px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: gray;
    }
    span[data-elm-type = "password-preview-icon"] {
        display: flex;
        height: 100%;
        width: 40px;
        min-width: 40px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &.input_select {
        padding: 10px;
    }
    select {
        display: flex;
        height: 100%;
        width: 100%;
        border: none;
        background: none;
        outline: none;
    }
    .input_select_icon {
        span[data-elm-type = "input-icon-label"] {
            font-size: 14px;
            padding: 0px 8px 0px 0px;
            height: 100%;
            color: gray;
            font-family: "Inter", sans-serif;
        }
    }
    &:hover {
        border: var(--default-border-hover);
        span[data-elm-type = "input-icon"] {
            color: var(--blue-accent-color)
        }
    }
    &:focus {
        border: 1px solid var(--blue-accent-color);
        cursor: alias;
    }
}