.doctorInfoPopup {
    display: flex;
    height: fit-content;
    width: 100%;
    background: white;
    max-width: 500px;
    border-radius: 6px;
    .dip_content {
        display: flex;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        row-gap: 10px;
        .dip_info_strip {
            display: flex;
            height: 40px;
            width: 400px;
            align-items: center;
            justify-content: flex-start;
            // border-bottom: 1px solid rgb(207, 207, 207);
            .dip_info_strip_col {
                display: flex;
                height: 100%;
                align-items: center;
                h4 {
                    font-size: 14px;
                    font-family: 'Schibsted Grotesk', sans-serif;
                }
                span {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                }
                &:first-child {
                    width: 36%;
                }
                &:last-child {
                    width: 64%;
                }
            }
            &.dip_info_strip_column {
                flex-direction: column;
                row-gap: 10px;
                .dip_info_strip_col {
                    &:first-child {
                        width: 100%;
                    }
                    &:last-child {
                        width: 100%;
                    }
                }
            }
            &.dip_info_strip_btns {
                border: none;
                column-gap: 10px;
                .dip_info_strip_col_btns {
                    button {
                        display: flex;
                        height: 40px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        column-gap: 10px;
                        font-family: "Inter", sans-serif;
                        border: none;
                        border-radius: 6px;
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.2s;
                        &[data-elm-type = "archive_btn"] {
                            background: yellow;
                        }
                        &[data-elm-type = "remove_btn"] {
                            background: crimson;
                            color: white;
                        }
                        &[data-elm-type = "revoke_btn"] {
                            background: var(--black-gradient);
                            color: white;
                        }
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}