.doctorInfoPopup {
    display: flex;
    height: fit-content;
    width: 100%;
    background: white;
    max-width: 500px;
    border-radius: 6px;
    .dip_content {
        display: flex;
        height: fit-content;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        row-gap: 10px;
        .dip_info_strip {
            display: flex;
            min-height: 40px;
            width: 400px;
            height: fit-content;
            align-items: center;
            justify-content: flex-start;
            // border-bottom: 1px solid rgb(207, 207, 207);
            .dip_info_strip_col {
                display: flex;
                height: 100%;
                align-items: center;
                h4 {
                    font-size: 14px;
                    font-family: 'Schibsted Grotesk', sans-serif;
                }
                span {
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                }
                &:first-child {
                    width: 36%;
                }
                &:last-child {
                    width: 64%;
                }
            }
            &.dip_info_strip_column {
                flex-direction: column;
                row-gap: 10px;
                .dip_info_strip_col {
                    &:first-child {
                        width: 100%;
                    }
                    &:last-child {
                        width: 100%;
                    }
                }
            }
            &.dip_info_strip_btns {
                border: none;
                column-gap: 10px;
                .dip_info_strip_col_btns {
                    button {
                        display: flex;
                        height: 40px;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        column-gap: 10px;
                        font-family: "Inter", sans-serif;
                        border: none;
                        border-radius: 6px;
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.2s;
                        &[data-elm-type = "archive_btn"] {
                            background: yellow;
                        }
                        &[data-elm-type = "remove_btn"] {
                            background: crimson;
                            color: white;
                        }
                        &[data-elm-type = "revoke_btn"] {
                            background: var(--black-gradient);
                            color: white;
                        }
                        &[data-elm-type = "add_btn"] {
                            background: var(--blue-gradient);
                            color: white;
                        }
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.02);
                        }
                    }
                }
            }
            &.with_search {
                column-gap: 10px;
                button[data-elm-type = "search_btn"] {
                    height: 40px;
                }
                form {
                    display: flex;
                    height: fit-content;
                    width: 100%;
                    flex-direction: row;
                }
            }
            &.search_results_wrapper {
                height: fit-content;
                min-height: 100px;
                max-height: 500px;
                overflow: auto;
                flex-direction: column;
                padding: 10px;
                row-gap: 10px;
                scrollbar-width: 0px;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .dip_info_result {
                display: flex;
                height: 50px;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                position: relative;
                border-radius: 6px;
                border-bottom: 0.5px solid rgba(225, 225, 251, 1);
                .dip_info_result_col {
                    display: flex;
                    height: 100%;
                    width: fit-content;
                    align-items: center;
                }
                .result_utils {
                    display: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    border-radius: 6px;
                    padding: 10px;
                    // background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(145, 143, 179, 0.524) 100%);
                    box-shadow: 0 4px 20px -2px #e0e0e0;
                    justify-content: flex-end;
                    animation: animate-result-utils-in 0.4s linear forwards;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 4px 20px -2px #e0e0e0;
                    .result_utils {
                        display: flex;
                    }
                }
            }
            textarea {
                padding: 10px;
                width: 100%;
                resize: none;
                height: 100px;
                border-radius: 6px;
                border: var(--default-border);
                &:hover {
                    border-color: black;
                }
            }
            span[data-elm-type = "tag_info"] {
                color: var(--blue-accent-color);
                font-size: 12px;
                font-family: 'Inter', sans-serif;
            }
            span[data-elm-type = "tag_error"] {
                color: crimson;
                font-size: 12px;
                font-family: 'Inter', sans-serif;
            }
        }
        form {
            display: flex;
            height: fit-content;
            width: fit-content;
            flex-direction: column;
            row-gap: 14px;
        }
    }
}

@keyframes animate-result-utils-in {
    0% {
        transform: translateX(10px);
    }
}