.login_page {
    > div[data-elm-type = "page_content"] {
        align-items: center;
        justify-content: center;
        .login_page_col {
            display: flex;
            height: 100%;
            width: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                object-fit: cover;
            }
            .login_page_logo {
                display: flex;
                height: 100px;
                width: 300px;
                position: relative;
                img {
                    object-fit: contain;
                }
            }
            &:first-child {
                border-right: 1px solid rgb(210, 210, 210);
            }
        }
    }
}

@media (max-width: 950px) {
    .login_page {
        > div[data-elm-type = "page_content"] {
            .login_page_col {
                &:first-child {
                    display: none;
                }
                width: 100%;
            }
        }
    }
}