.form_wrapper {
    display: flex;
    height: fit-content;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    background: white;
    border-radius: 6px;
    .form_wrapper_content {
        display: flex;
        height: fit-content;
        width: 100%;
        align-items: center;
        padding: 12px;
        flex-direction: column;
        .form_wrapper_title_block {
            display: flex;
            height: 60px;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 10px;
            h2 {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
            }
        }
        .form_social_auth {
            display: flex;
            height: fit-content;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            row-gap: 10px;
            .strike_or {
                display: block;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                span {
                    position: relative;
                    display: inline-block;
                    font-family: 'Inter', sans-serif;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 9999px;
                        height: 1px;
                        background: rgb(210, 210, 210);
                    }
                }
            }

            .forgot_link {
                display: flex;
                height: fit-content;
                width: fit-content;
                > a {
                    padding: 10px;
                    color: rgb(79, 79, 79);
                    font-family: 'Source Sans Pro', sans-serif;
                    &:hover {
                        color: var(--blue-accent-color);
                    }
                }
            }
        
            .strike_or > span:before {
                right: 100%;
                margin-right: 15px;
            }
        
            .strike_or > span:after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }
}